.grupoBotones li{
	margin-top: 20px;
}

.grupoBotones li:first-child{
	background-color: #EA3737;
	color: white;
	padding: 1px;
}

.grupoBotones {
	list-style: none;
	margin-left: 0px;
	padding: 0px;
}

/*bgcolor RED*/


.crojo{
	background-color: #EA3737;
}

button.crojo:hover{
	background-color: #CF3131;
}

.inhabilitado{
	background-color: #892424;
}

button.inhabilitado:hover{
	background-color: #892424;
}

/*MODIFICACION DEL FORMULARIO*/
#formularioAdmin{
	border: 4px solid #EA3737;
	width: 250px;
}

