.navbar-collapse ul{
	width: 100%;
}

.input-selector{
	display: block;
    width: 100%;
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #42b883;
    vertical-align: middle;
    background-color: #202c39;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.subClase{
	width: 20%;
}


.cajaInformacion{
	width: 100%;
	background-color: #35495e;
	height: 150px;
}


#Contiene-enlacevideo{
	width: 30%;
}

/*Subir videos*/
#boton-video{
	background-color: #42b883;
	width: 100%;
	color: white;
	 border-radius: 50px;
}

#boton-filtro{
	background-color: #42b883;
	color: white;
	font-weight: bold;
	border-radius: 10px;
}

#Contiene-clase{
	width: 20%; 
}

#Contiene-subclase{
	width: 20%;
}

#Nombre-video{
	width: 20%;
}

.imagenVideo{
	width: 120px;
	height: 120px;
	margin-top: 9%;
}

#Botones{
		width: 40px;
		margin-top: 5px;
	}
#Botones button{
	margin: 3px;
}
#contenedorNombre{
	width: 100%;
}

#contenedorClase{
	width: 100%
}

#contenedorSubClase{
	width: 100%;
}

#contenedorEnlace{
	width: 100%;
}

/*SUBIR VIDEOS RESPONSIVE*/
@media(max-width: 1199px){
	#Clasevideo{
		margin-top: 1px;
	}

	#Subclasevideo{
		margin-top: 1px;
	}

	#Enlacevideo{
		margin-top: 1px;
		padding-left: 5px;
	}

	#mi-archivos{
		text-align: center;
		font-size: 15px;
		width: 100%;
		margin-right: 1px;
	}
}

@media(max-width: 991px){
	#botonvideo{
		width: 90%;
		margin: auto;
		margin-top: 20px;
	}



	.subClase{
		width: 98.5%;
	}


	#Nombre-video{
		width: 100%
	}

	#mi-archivos{
		width: 98.5%;
		border-radius: 0px;
	}

	#Contiene-enlacevideo{
		width: 98.8%;
	}

	.imagenVideo{
		width: 60px;
		height: 60px;
		margin-top: 65%;
	}
	#contenedorEnlace{
		display: none;
	}

	#Botones button{
		margin-top: 6px;
	}

	#contenedorClase{
		width: 100%;
	}

	#contenedorSubClase{
		width: 100%;
	}

	#contenedorNombre{
		width: 100%;
	}

	#Botones{
		width: 40px;
	}
}

