/*Menu general*/
.menu-nav{
	color: white;
	font-weight: bold;
	margin-right: 10px;
	margin-left: 40px;
	transition: 0.5s;
	height: 35px;
	background-color:transparent;
	border: none;
	border-radius: 5px;
}

.menu-nav:hover{
	color: #42b883;
	
}

/*Boton de menu*/

.navegacion ul{
	list-style: none;
	padding: 0px;
}



.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > button{
	display: block;
	margin: auto;
	padding: 10px 10px;
	color: white;
	background-color: #42b883;
	border:none;
	border-radius: 50px;
}

.menu li button:hover{
	color: black;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
}

.submenu li button{
	display: block;
	padding: 10px;
	width: 150px;
	background-color: #202C39;
	color: #42b883;
	border-color: #42b883;
	text-decoration: none;
	transition: 0.5s;
}

.submenu li button:hover{
	color: white;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

/*IMAGEN DEL HEADER*/
.infohome{
	background-image: url('../img/fondodevue.jpeg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
	height: 100vh;
}

.infohome content h3{
	padding-top: 250px;

}


/* CAJA DEL NOMBRE Y DESCRIPCION*/

.cajadescripcion{
	background-color:#35495e;
	color: white;
}

.subcajadescripcion{
	width: 50%;
}

/* CAJA INFORMATIVA*/
.cajainformativa{
	width: 100%;
	color: white;
	background-color: #3CA475;
}

.cajainf{
	background-color: #3CA475;
	width: 34%;
	transition: 1s;
	z-index: 1;
}
.cajainf:hover{
	transform: scale(1.1,1.1);
}

.cajamensaje{
	width: 32%;
	cursor: pointer;
	background-color: #202c39;
	transition: 0.3s;
}

.cajamensaje:hover{
	color: #3CA475;
}


/* CAJA MODAL*/
.modal {
  display: none;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}


.modal-header h2,
.modal-footer h3 {
  margin: 0;
}



.modal-body {
	margin-top: 1%;
	width: 100%;
}


.close {
  color: #42b883;
  float: right;
  font-size: 25px;
  font-weight: bold;
  transition: 0.5s;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

/*FORM-MENSAJE*/
.form-mensaje{
	background-color: #202C39;
	color: #42b883;
	font-size: bold;
	height: 50px;
	padding-left: 10px; 
	padding-top: 5px;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/*CODIGO DEL RESPONSIVE*/

@media(max-width: 1079px){
	.paginau{
		width: 100%;
		text-align: center;
	}

	.cajamenu{
		margin: auto;
	}

	.menu-nav{
		margin-right: 5px;
		margin-left: 5px;
	}


	.navegacion{
		width: 100%;
	}

	.menu{
		width:100%;
		margin: auto;

	}

	.menu > li{
		width: 100%
	}

	.menu > li > button{
		background-color: transparent;
		border:solid 3px #42b883;
		border-radius: 0px;
		width: 100%;
		color: #42b883;
	}

	.menu li button:hover{
		color: white;
		border-color: white;
		background-color: #202C39;
		transition: all .1s;
	}

	.submenu{
		width: 100%;
	}

	.submenu li button{
		width: 100%;
	}
}

/*PORTAFOLIO*/
.imagenPortafolio{
	transition: 0.5s;
	cursor: pointer;
}

.imagenPortafolio:hover{
	transform: scale(1.3,1.3);
}


#umensaje{
	width: 100%;
}