.cajaMensajes{
	background-color: #35495e;
	width:100%;
	height: 150px;
	margin: auto;
	border: 3px solid #42b883;
	cursor: pointer;
	transition: 0.5s;
}

.cajaMensajes:hover{
	border-color: white;
}

.cajaMensajes div ul{

	padding: 0px;
	margin: 0px;
	list-style: none;
	margin-left:17%;
}

.cajaMensajes div ul li{
	margin-top: 20px;
}

.cajaMensajes div div{
		margin-left: 10%;
	}





@media (max-width: 992px){
	.cajaMensajes div div{
		margin-left: 40px
	}
	.cajaMensajes div ul{
		margin-left: 40px;
	}
}


@media (max-width: 767px){
	.cajaMensajes div div{
		margin-left: 5px;
		margin-right: 5px;

	}
		.cajaMensajes div ul{
		margin-left: 0px;
	}

	.redboton{
		background-color: #42b883;
	}

	.cajaMensajes{
		border: 5px solid;
	}

}