/*Foto de perfil*/
.contenedor-imagen-perfil{
	width: 150px;
	height: 150px;
	border-radius: 100%;
}


.imagen-perfil{
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: 6px solid #42b883;
	transition: 0.5s;
}

.imagen-perfil:hover{
	border-color: white;
}

/*Titulo con letrero*/
.titulo-releno{
	background-color: #42b883;
	color: white;
	width:50%;
	margin: auto;
}

.titulo-releno-mini{
	background-color: #42b883;
	color: white;
	width:30%;
	margin: auto;
}

/*CAJA VERDE*/
.cajaVerdeDescripcion{
	margin-top: 50px;
	border: solid 8px #42b883;
	background-color: #2D7554;
	border-right: none;
	border-left: none;
}

.cajaPerfil{
	border: solid 8px #42b883;
}

/*SOCIAL*/
.social div{
	margin-top: 30px;
	margin-left: 5%;
	margin-right: 5%;
}

.social div h3{
	 font-size: 50px;
}

.twitter{
	color:  #00ACEE;
}
.facebook{
	color: #3b5998;
}

.instagram{
	color: #DD2A7B;
}

/*RESPONSIVE*/
@media(max-width: 767px){
	.correop{
		font-size: 22px;
	}
}